/* --- LAPIS STYLING (Customized for Migaku) --- */
:root {
  /* Color theme */
  --light-mode-bg-color: #fffaf0;
  --light-mode-fg-color: #333333;
  --light-mode-bold: #4660f1;
  --dark-mode-bold: #fffd9e;

  /* Font sizes */
  --pc-main-font-size: 16px;
  --pc-main-def-size: 20px;
  --pc-vocab-font-size: 85px;
  --pc-back-vocab-font-size: 60px;
  --pc-sentence-font-size: 52px;
  --pc-back-sentence-font-size: 35px;
  --pc-hint-font-size: 38px;
  --pc-info-font-size: 23px;

  /* Mobile font sizes */
  --mobile-main-font-size: 16px;
  --mobile-main-def-size: 16px;
  --mobile-vocab-font-size: 70px;
  --mobile-back-vocab-font-size: 32px;
  --mobile-sentence-font-size: 38px;
  --mobile-back-sentence-font-size: 24px;
  --mobile-hint-font-size: 24px;
  --mobile-info-font-size: 16px;

  /* Fonts */
  --font-serif:
    "Hiragino Mincho ProN", "Noto Serif CJK JP", "Yu Mincho", HanaMinA,
    HanaMinB, serif;
  --font-sans:
    "Inter", "SF Pro Display", "Liberation Sans", "Segoe UI",
    "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "Meiryo", HanaMinA,
    HanaMinB, sans-serif;

  /* Misc */
  --light-mode-image-brightness: 85%;
  --dark-mode-image-brightness: 80%;
  --light-mode-tooltip-hover-color: rgb(256, 256, 256, 0.9);
  --dark-mode-tooltip-hover-color: rgba(0, 0, 0, 0.9);
  --def-picture-size: 200px;
  --max-width: 800px;

  /* User Settings Defaults */
  --main-picture-position: "right";
  --sentence-furigana: "hover";
  --sentence-position: "above";
  --mobile-sentence-position: "below";
  --mobile-audio-buttons: "default";
  --nsfw-blur-contained: "off";
  --open-misc-info: "off";
  --glossary-separator: "off";
  --jitendex-format: "full";

  /* Pitch Colors */
  --dark-mode-heiban: #39bae6;
  --dark-mode-atamadaka: #ec464f;
  --dark-mode-nakadaka: #ff8f40;
  --dark-mode-odaka: #6cbf43;
  --dark-mode-kifuku: #af85f4;
  --light-mode-heiban: #1aa0ce;
  --light-mode-atamadaka: #e92a35;
  --light-mode-nakadaka: #ff6b03;
  --light-mode-odaka: #61ad3b;
  --light-mode-kifuku: #7e53c4;

  font-size: var(--main-font-size);
}

.card {
  background-color: var(--bg-color) !important;
  color: var(--fg-color) !important;
  font-family: var(--font-serif);
}

/* Night Mode Variables */
.card.nightMode {
  --bg-color: var(--canvas, #2c2c2c);
  --fg-color: var(--fg, #fcfcfc);
  --bg-elevated: rgba(0, 0, 0, 0.12);
  --bg-inset: rgba(255, 255, 255, 0.03);
  --fg-subtle: rgba(255, 255, 255, 0.3);
  --bold: var(--dark-mode-bold, #7d8590);
  --image-brightness: var(--dark-mode-image-brightness);
  --tooltip-hover-color: var(--dark-mode-tooltip-hover-color);
}

.android .nightMode {
  --bg-color: black;
  --fg-color: white;
}
.android .nightMode:not(.ankidroid_dark_mode) {
  --bg-elevated: rgba(255, 255, 255, 0.06);
}
.android .nightMode.ankidroid_dark_mode {
  --bg-color: #303030;
}

/* Light Mode Variables */
.card:not(.nightMode) {
  --bg-color: var(--light-mode-bg-color);
  --fg-color: var(--light-mode-fg-color);
  --bg-elevated: rgba(0, 0, 0, 0.03);
  --bg-inset: rgba(0, 0, 0, 0.06);
  --fg-subtle: rgba(0, 0, 0, 0.6);
  --bold: var(--light-mode-bold, #999999);
  --image-brightness: var(--light-mode-image-brightness);
  --tooltip-hover-color: var(--light-mode-tooltip-hover-color);
}

/* Font Size Handling */
html.win,
html.mac,
html.linux:not(.android) {
  --main-font-size: var(--pc-main-font-size);
  --main-def-size: var(--pc-main-def-size);
  --vocab-font-size: var(--pc-vocab-font-size);
  --back-vocab-font-size: var(--pc-back-vocab-font-size);
  --sentence-font-size: var(--pc-sentence-font-size);
  --back-sentence-font-size: var(--pc-back-sentence-font-size);
  --hint-font-size: var(--pc-hint-font-size);
  --info-font-size: var(--pc-info-font-size);
}
html.mobile {
  --main-font-size: var(--mobile-main-font-size);
  --main-def-size: var(--mobile-main-def-size);
  --vocab-font-size: var(--mobile-vocab-font-size);
  --back-vocab-font-size: var(--mobile-back-vocab-font-size);
  --sentence-font-size: var(--mobile-sentence-font-size);
  --back-sentence-font-size: var(--mobile-back-sentence-font-size);
  --hint-font-size: var(--mobile-hint-font-size);
  --info-font-size: var(--mobile-info-font-size);
}

#qa {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-height: calc(100vh - 40px);
  text-align: center;
}

/* Front & Back Elements */
.front-vocab {
  font-size: var(--vocab-font-size);
  line-height: 1.5;
}
.front-sentence {
  font-size: var(--sentence-font-size);
  display: inline-block;
  line-height: 1.5;
}
#hint {
  font-size: var(--hint-font-size);
  margin-top: -5px;
  line-height: 1.5;
}
.vocab {
  line-height: 1.5;
  font-size: var(--back-vocab-font-size);
}
.sentence,
.sentence-mobile {
  line-height: 1.5;
  font-size: var(--back-sentence-font-size);
  display: inline-block;
}

/* HEADER & FREQ */
header {
  color: var(--fg-subtle);
  height: 40px;
  text-align: right;
  width: 100%;
  font-size: 1rem;
}
.top-container {
  font-family: var(--font-sans);
  max-width: calc(var(--max-width) + 20px);
  margin: 0px auto;
  width: calc(100% - 20px);
  position: relative;
  display: inline-block;
}
.freq-dropdown {
  cursor: pointer;
}
.freq-list-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--tooltip-hover-color);
  color: var(--fg-color);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  width: 200px;
}
.freq-dropdown:hover .freq-list-container {
  display: block;
}

main {
  width: min(var(--max-width), calc(100% - 20px));
  margin-inline: auto;
}

/* INFO AREA */
.info {
  font-family: var(--font-sans);
  font-size: var(--info-font-size);
  color: var(--fg-color);
}
.mobile .info {
  font-size: 0.9rem;
  padding-top: 7px;
}
.replay-button svg {
  width: 32px;
  height: 32px;
}
.mobile .audio-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* DEFINITION BOX */
.main-def {
  background-color: var(--bg-elevated);
  font-family: var(--font-sans);
  font-size: var(--main-def-size);
  line-height: 1.75em;
  text-align: left;
  border-left: 5px solid #ccc;
  padding: 0.5em 10px;
  margin: 5px auto;
  overflow: hidden;
  position: relative;
}
.def-info {
  font-family: var(--font-sans);
  color: var(--fg-subtle);
  font-size: 0.9rem;
  text-align: right;
  pointer-events: none;
  visibility: hidden;
}
.edge {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
  opacity: 0.4;
}
.edge:hover {
  background-color: var(--bg-inset);
}
#edge-prev {
  left: 0;
  border-radius: 8px 0px 0px 8px;
}
#edge-next {
  right: 0;
  border-radius: 0px 8px 8px 0px;
}
.edge:has(~ .definition > :last-child:first-child) {
  display: none;
}

/* IMAGES */
.image img {
  max-height: 400px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.3s;
}
.def-image {
  float: right;
  margin-left: 10px;
  max-width: min(35%, var(--def-picture-size));
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.def-image img {
  object-fit: contain;
  max-height: var(--def-picture-size);
  border-radius: 3px;
  cursor: pointer;
}
.NSFW img,
.nsfw img {
  filter: blur(30px);
  transition: filter 0.2s;
}
.NSFW img:hover,
.nsfw img:hover {
  filter: blur(0px);
}

/* MODAL */
.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}
.modal-bg.active {
  opacity: 1;
  visibility: visible;
}
.img-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(calc(100% - 20px), calc(var(--max-width) + 200px));
  z-index: 1001;
  overflow: hidden;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}
.img-popup-container.active {
  opacity: 1;
  visibility: visible;
}
.img-popup-img {
  width: auto;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}

/* FOOTER TAGS */
.tags {
  font-family: var(--font-sans);
  background-color: var(--bg-elevated);
  color: var(--fg-color);
  display: inline-grid;
  place-items: center;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: auto 3px;
  overflow: hidden;
  max-width: 60dvw;
  white-space: nowrap;
}
.bot-container {
  display: flex;
  justify-content: flex-end;
  max-width: calc(var(--max-width) + 20px);
  margin: 0px auto;
  width: calc(100% - 20px);
}

/* DEFINITION HEADER LAYOUT */
.def-header {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  max-width: 820px;
  margin-inline: auto;
  position: relative;
  gap: min(20px, 2vw);
}
.dh-left {
  background: var(--bg-elevated);
  padding: 0.52em;
  border-radius: 5px;
  flex: 1;
}
.dh-right {
  max-width: 400px;
  position: relative;
  font-size: 0;
}

/* MOBILE HEADER LAYOUT (The fix for image discrepancy) */
.mobile .dh-left {
  background: none;
  padding: 0em;
  border-radius: 0px;
}
.mobile .dh-left:has(~ .dh-right) {
  max-width: 60vw;
} /* Text gets 60% width if image exists */
.mobile .dh-right {
  max-width: 40vw;
} /* Image gets 40% width */

/* SENTENCE TOGGLING (MOBILE VS DESKTOP) */
.mobile .sentence {
  display: none;
}
html:not(.mobile) .sentence-mobile {
  display: none;
}

/* MOBILE LAYOUTS */
@media (max-width: 512px) {
  .images-container {
    flex-direction: row !important;
  }
  .images-container img {
    width: 44%;
  }
  .img-popup-container {
    max-width: 100vw;
    max-height: 60vh;
  }
}

/* User Settings Toggles */
settings[data-main-picture-position="left"] + #qa .def-header {
  flex-flow: row-reverse;
}

/* --- MIGAKU SUPPORT CSS --- */
.word {
  position: relative;
}
.popup {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  padding: 7px;
  border-radius: 5px;
  text-align: left;
  background-color: #e5f9ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  color: black;
  font-size: 1rem;
}
.nightMode .popup,
.ankidroid_dark_mode .popup {
  color: #ffffff;
  background-color: #2b303b;
}
.popup-active .popup {
  visibility: visible;
}

/* Popup positioning */
.popup-direction-u .popup {
  left: 0;
  bottom: calc(100% + 14px);
}
.popup-direction-d .popup {
  left: 0;
  top: calc(100% + 14px);
}
.popup-direction-u .popup:after {
  content: " ";
  position: absolute;
  left: 5px;
  bottom: -10px;
  border-top: 10px solid #e5f9ff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.nightMode .popup-direction-u .popup:after {
  border-top: 10px solid #2b303b;
}
.popup-direction-d .popup:after {
  content: " ";
  position: absolute;
  left: 5px;
  top: -10px;
  border-bottom: 10px solid #e5f9ff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.nightMode .popup-direction-d .popup:after {
  border-bottom: 10px solid #2b303b;
}

.popup-hover-box {
  visibility: hidden;
  position: absolute;
  z-index: 50;
}
.popup-active .popup-hover-box {
  visibility: visible;
}
.popup-direction-u .popup-hover-box {
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 20px;
}

/* Pitch Graphs */
.popup .pitch-graph {
  font-size: 20px;
  line-height: 1.5;
  white-space: nowrap;
}
.pitch-graph {
  display: inline-block;
  position: relative;
}
.pitch-box {
  display: inline-block;
  position: relative;
  margin: 0.6em 0.2em 0.1em;
}
.pitch-overbar {
  display: inline-block;
  position: absolute;
  height: 0.1em;
  width: 100%;
  top: -0.275em;
  left: 0;
  background-color: currentColor;
}
.pitch-drop {
  height: 0.4em;
  width: 0.1em;
  position: absolute;
  top: -0.275em;
  right: -0.075em;
  background-color: currentColor;
}

/* Pitch Shapes (Diamonds/Circles) */
.pitch-diamond {
  display: inline-block;
  width: 0.55em;
  height: 0.55em;
  transform: rotate(45deg) scale(0.71, 0.71);
  margin: 0 0.05em;
  background-color: currentColor;
}
.pitch-circle-left {
  display: inline-block;
  width: 0.25em;
  height: 0.5em;
  border-top-left-radius: 200% 100%;
  border-bottom-left-radius: 200% 100%;
  margin-left: 0.05em;
  background-color: currentColor;
}
.pitch-circle-right {
  display: inline-block;
  width: 0.25em;
  height: 0.5em;
  border-top-right-radius: 200% 100%;
  border-bottom-right-radius: 200% 100%;
  margin-right: 0.05em;
  background-color: currentColor;
}

/* Coloring */
.pitch-h,
.pitch-bg-h {
  color: #005ce6;
}
.pitch-a,
.pitch-bg-a {
  color: #e60000;
}
.pitch-n,
.pitch-bg-n {
  color: #e68a00;
}
.pitch-o,
.pitch-bg-o {
  color: #00802b;
}
.pitch-k,
.pitch-bg-k {
  color: #ac00e6;
}

/* Furigana hiding/showing */
.furigana-invisible rt {
  display: none;
}
.furigana-hover:not(.active) rt {
  display: none;
}
ruby > rt {
  user-select: none;
}
